@font-face {
  font-family: "Roboto-Light";
  src: url(fonts/Roboto-Light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Roboto-Light", sans-serif;
}

html {
  margin: none;
}

body {
  margin: 0%;
  min-height: 100vh;
  height: 100vh;
}

img {
  width: 1rem;
  height: 1rem;
}

button {
  background-color: transparent;
  border: none;
}

#item-plus,
#list-plus {
  display: flex;
  gap: 0px;
  margin: 0;
  padding-left: 0;
  padding-bottom: 0;
  border-bottom: none;
}
#item-plus:hover,
#list-plus:hover {
  border-bottom: none;
}
.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3rem 1fr 4rem;
}
.title {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgb(237 236 235);
}
.title h1 {
  margin: 1vh;
  color: white;
}
.sidebar {
  padding: 2vh 5%;
  background-color: rgb(237 236 235);
  grid-column: 1/2;
  grid-row: 2/4;
}
.main-body {
  padding: 2vh 5%;
  grid-row: 2/3;
  grid-column: 2/6;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-row: 3/4;
  grid-column: 2/6;
}

.attribution {
  color: lightgray;
  font-size: 1rem;
}

a.attribution:hover {
  color: darkgray;
}

.lists {
  margin-bottom: 2vh;
}

.list {
  display: grid;
  margin-bottom: 2vh;
  grid-template-rows: 1;
  grid-template-columns: 75% 25%;
  border-bottom: solid 1px transparent;
}
.list:hover {
  border-bottom: solid 1px white;
}
.list-name {
  grid-column: 1/2;
  grid-row: 1/1;
}
.list-form {
  display: grid;

  align-items: center;
  max-width: 100%;
  grid-template-rows: 1;
  grid-template-columns: 75% 25%;
}

.list-form .submit-cancel {
  grid-column: 2/3;
  /* height: 1.1rem;
  width: 1.1rem; */
}
.item-input,
.list-input {
  height: 1.1rem;
  font-size: 1rem;
  grid-column: 1/2;
}
.item-input {
  grid-column: 2/3;
}
.btn-input-yes {
  grid-row: 1/2;
  grid-column: 2/3;
}
.btn-input-no {
  grid-row: 1/2;
  grid-column: 3/4;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  height: 1rem;
}
.items {
  background-color: white;
}
.item {
  display: grid;
  margin-bottom: 2vh;
  grid-template-rows: 1;
  grid-template-columns: 20px 2fr 2fr 1fr;
  gap: 10px;
  width: fit-content;
  background-color: white;
  border-radius: 5%;
  border-bottom: solid 1px transparent;
}

.due-date {
  grid-row: 1/2;
  grid-column: 3/4;
}
.item:hover {
  border-bottom: solid 1px rgb(237 236 235);
}
.complete-toggle {
  margin-left: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  accent-color: rgb(237 236 235);
}

.complete {
  text-decoration: line-through;
  color: rgb(237 236 235);
}
.item-complete {
  display: grid;
  margin: 2vh 0%;
  grid-template-rows: 1;
  grid-template-columns: 20px 2fr 1fr;
  gap: 10px;
  width: fit-content;
  background-color: white;
  border-radius: 5%;
  border-bottom: solid 1px transparent;
}

.btn-open {
  display: flex;
  gap: 5px;
  justify-content: start;
  margin: 1vh 0;
  padding-left: 0;
  padding-bottom: 3px;
  border-bottom: solid 1px transparent;
}
.btn-open.btn-list {
  width: 100%;
}
.btn-open:hover {
  /* background-color: lightgray; */
  border-bottom: solid 1px white;
}
.btn-item.btn-open:hover {
  border-bottom: solid 1px rgb(237 236 235);
}
.btn-edit-yes,
.btn-input-yes {
  height: 1.1rem;
  width: 1.1rem;
}
.btn-edit-yes:hover,
.btn-input-yes:hover {
  font-size: 1.1rem;
  transform: translate(-1px, -3px);
}

.edit-delete {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 2/3;
  max-width: 100%;
  max-height: 110%;
  height: 1.1rem;
}

.item .edit-delete {
  grid-column: 4/5;
  grid-row: 1/2;
}

.edit {
  height: 1.1rem;
  width: 1.1rem;
  max-width: 100%;
  margin-right: 5px;
}
.delete {
  height: 1.1rem;
  width: 1.1rem;
  max-width: 100%;
  padding: 3%;
  margin-left: 5px;
}

.submit-cancel {
  display: flex;

  align-items: center;
  height: 1.1rem;
  width: 1.1rem;
}
.item-prop {
  padding: 2%;
}
.item-prop-input .submit-cancel {
  grid-column: 5/6;
}

.edit:hover {
  /* background-color: lightgray;
  border-radius: 50%; */
  transform: translate(-1px, -3px);
  font-size: 1.1rem;
}
.btn-input-no:hover,
.btn-edit-no:hover {
  font-size: 1.1rem;
  transform: translate(-1px, -1px);
}
.delete:hover {
  /* font-weight: bold; */
  transform: translate(0, -3px);
  font-size: 1.1rem;
}

.item-open {
  display: grid;
  min-width: fit-content;
  height: fit-content;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  border: 1px solid lightgray;
  border-radius: 1%;
}

.item-name {
  grid-row: 1/2;
  grid-column: 2/3;
}
.item-name:hover {
  font-style: italic;
}

.item-date {
  grid-row: 1/2;
  grid-column: 2/3;
}
.item-priority {
  grid-row: 1/2;
  grid-column: 3/4;
}
.item-desc {
  grid-row: 2/3;
  grid-column: 1/2;
}
.low {
  color: green;
}
.medium {
  color: orange;
}
.high {
  color: red;
}

.item-form {
  display: grid;
  min-width: fit-content;
  height: fit-content;
  gap: 10px;
  grid-template-columns: 1;
  grid-template-rows: 2;
  border: 1px solid lightgray;
  border-radius: 1%;
}

.item-prop-input {
  min-width: fit-content;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 1;
  gap: 1%;
  padding: 3px;
}
.item-desc-input {
  padding: 3px;
  max-width: 100%;
  height: fit-content;
}
.item-desc-textarea {
  min-width: 99%;
  max-width: 99%;
  max-height: 100%;
}
.item-name-input {
  width: fit-content;
  grid-column: 1/2;
  grid-row: 1/2;
}
.item-date-input {
  grid-column: 2/3;
}
.item-priority-label {
  grid-column: 3/4;
  justify-self: end;
}
.item-priority-input {
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: start;
}
.btn-item-input-yes {
  grid-column: 5/6;
}
.item-form .btn-input-no {
  grid-column: 6/7;
}
.item-desc-textarea {
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}

.btn {
  justify-self: end;
}
.hidden {
  display: none;
}
